header {
  height: 100px;
}
button {
  width: 120px;
  height: 20px;
  margin: 10px;
}

footer {
  height: 100px;
}

.container {
  width: 90%;
  height: 450px;
  border: 2px solid black;
  border-radius: 5px;
  min-width: 500px;
  margin-left: 30px;
  box-shadow: 10px 10px 5px #888888;
}

.sidebar-left {
  height: 450px;
  padding: 0px;
  width: 18%;
  float: left;
}

.login {
  margin: auto;
  text-align: center;
}

.login-form {
  height: 75px;
  padding-top: 20px;
}

.login-form input {
  width: 80%;
}

.login-form button {
  width: 80%;
}

.player {
  margin-bottom: 175px;
  height: 30px;
  width: 90%;
}

.field {
  width:50px;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 0px;
}

.inner {
  float: right;
  margin-top: -700px;
}

#draw{
  margin: 50px;
  width: 20px;
  height:50px;
  float: right;
}

#table {
  background-color: lightgreen;
  height: 450px;
  width: 80%;
  margin: 0px;
  float: right;
}
#player1 {
  margin-bottom: 110px;
}
#player2 {
  margin-bottom: 110px;
}
