header {
  height: 100px;
}
button {
  width: 120px;
  height: 20px;
  margin: 10px;
}
div {
  border: solid 1px black;
}
footer {
  height: 100px;
}
.container {
  width: 90%;
  height: 450px;
  border: 2px solid black;
  min-width: 500px;
}

.sidebar-left {
  border: solid black 2px;
  height: 450px;
  padding: 0px;
  width: 18%;
  float: left;
}

.login {
  margin: auto;
  border: solid black 2px;
  border-radius: 5px;
  text-align: center;
}

.login-form {
  height: 75px;
  padding-top: 20px;
}

.login-form input {
  width: 80%;
}

.login-form button {
  width: 80%;
}

.info {
  height: 175px;
}

.player {
  height: 30px;
  margin-bottom:175px;
  width: 100%;
}

.field {
  width:50px;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 0px;
}

.inner {
  float: right;
  margin-top: -700px;
}

#draw{
  margin: 50px;
  width: 20px;
  height:50px;
  float: right;
}

#table {
  background-color: lightgreen;
  height: 450px;
  width: 80%;
  margin-left: 30px;
  border: solid black 2px;
  margin: 0px;
  float: right;
}

#player2 {
  margin-bottom: 70px;
}
